.body{
    font-family: Product Sans;
}
.container-top{
    margin-left: auto;
    margin-right: auto;
}
.headertext{
    font-family: Product Sans;
}
.navbar-color{
    background-color: #414A4F;
    border-radius: 50px;
    height: 80px;
    margin-top: 5px;
}
.up-text{
    display: block;
    margin-top: 10px;
    text-align: center;
    font-weight: 500;
    color: white;
    font-size: 28px;
}
.navbar-nav{
    position: absolute;
    right: 50px;   
}
#bio{
    background-color: #F6AB5C;
    margin-bottom: 30px;
}
#about{
    margin-top: 30px;
    background-color: #8AA199;

}
.inner{
    display: block;
    margin: auto;
}
info{
    display: block;
    text-align: left;
}
#code{
    margin-top: 100px;
    border-radius: 5px;
    width: 750px;
    margin: auto;
    padding-top: 15px;
    background-color: #ccc;

    font-family: 'Courier New', Courier, monospace;
    text-align: left;
    font-size: 18px;
    color: #fafafa;
}
#console{
    width: 749px;
    padding:40px;
    
    margin: auto;
    background-color: #383737; 
}
.progress{
    margin-top: 10px;
}