body{
    font-family:Product Sans;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 800 !important;
}
.subheading-text{
    color:rgb(151, 150, 150);
}
/*text*/
/* unvisited link */
a:link {
    color: orange;
    font-weight: 600;
}

/* visited link */
a:visited {
    color: orange;
}

/* mouse over link */
a:hover {
    color:rgb(253, 219, 68);
    font-weight: 900;
    text-decoration: none;  
}

/* selected link */
a:active {
    color: orange;
}

/*Nav Bar*/
.navbar-custom {
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: rgba(0, 0, 0, 0.7);
}
  
.navbar-custom .navbar-brand {
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: 0.1rem;
    font-weight: 700;
}
  
.navbar-custom .navbar-nav .nav-item .nav-link {
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: 700;
    letter-spacing: 0.1rem;
}
/*Header*/
.masthead {
    position: relative;
    overflow: hidden;
    padding-bottom: 7rem;
    background: linear-gradient(0deg, #ff6a00 0%, #ee0979 100%);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: scroll;
    background-size: cover;
}
  
.masthead-content{
    padding-top: 80px;
    padding-bottom: 40px;
    text-align: center;
    color: aliceblue;
}
.image-header{
    width: 60%;
    height: auto;
    position: relative;
    z-index: 1;
    margin-bottom: 10px;
}
.bg-circle {
    z-index: 0;
    position: absolute;
    border-radius: 100%;
    background: linear-gradient(0deg, #ee0979 0%, #ff6a00 100%);
}
  
.bg-circle-1 {
    height: 90rem;
    width: 90rem;
    bottom: -55rem;
    left: -55rem;
}
  
.bg-circle-2 {
    height: 50rem;
    width: 50rem;
    top: -25rem;
    right: -25rem;
}
  
.bg-circle-3 {
    height: 20rem;
    width: 20rem;
    bottom: -10rem;
    right: 5%;
}
  
.bg-circle-4 {
    height: 30rem;
    width: 30rem;
    top: -5rem;
    right: 35%;
}

.arrow{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*Console*/
#code{
    margin-top: 100px;
    border-radius: 5px;
    width: 750px;
    margin: auto;
    padding-top: 15px;
    background-color: #ccc;

    font-family: 'Courier New', Courier, monospace;
    text-align: left;
    font-size: 18px;
    color: #fafafa;
}
#console{
    width: 749px;
    padding:40px;
    
    margin: auto;
    background-color: #383737; 
}

/*About*/
#about{
    margin-bottom: 30px;
}
/*Resume*/
.card-deck{
    margin-left: auto;
    margin-right: auto;
}
#languages{
    margin-top: auto;
    margin-bottom: auto;
    font-size: 40px;
}
.languages{
    margin-top: 100px;
}
.list-group-item{
    background-color:transparent;
}

.vertical-center {
    min-height: 70%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 70vh; /* These two lines are counted as one :-)       */
  
    display: flex;
    align-items: center;
  }
/*Footer*/
.footer{
    background-color: black;
    height: 60px;
}
/* Animations */
.rotating {
    display: inline-block;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform: rotateX(0) rotateY(0) rotateZ(0);
    -moz-transform: rotateX(0) rotateY(0) rotateZ(0);
    -ms-transform: rotateX(0) rotateY(0) rotateZ(0);
    -o-transform: rotateX(0) rotateY(0) rotateZ(0);
    transform: rotateX(0) rotateY(0) rotateZ(0);
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    -webkit-transform-origin-x: 50%;
  }
  
  .rotating.flip {
    position: relative;
  }
  
  .rotating .front, .rotating .back {
    left: 0;
    top: 0;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .rotating .front {
    position: absolute;
    display: inline-block;
    -webkit-transform: translate3d(0,0,1px);
    -moz-transform: translate3d(0,0,1px);
    -ms-transform: translate3d(0,0,1px);
    -o-transform: translate3d(0,0,1px);
    transform: translate3d(0,0,1px);
  }
  
  .rotating.flip .front {
    z-index: 1;
  }
  
  .rotating .back {
    display: block;
    opacity: 0;
  }
  
  .rotating.spin {
    -webkit-transform: rotate(360deg) scale(0);
    -moz-transform: rotate(360deg) scale(0);
    -ms-transform: rotate(360deg) scale(0);
    -o-transform: rotate(360deg) scale(0);
    transform: rotate(360deg) scale(0);
  }
  
  
  
  .rotating.flip .back {
    z-index: 2;
    display: block;
    opacity: 1;
    
    -webkit-transform: rotateY(180deg) translate3d(0,0,0);
    -moz-transform: rotateY(180deg) translate3d(0,0,0);
    -ms-transform: rotateY(180deg) translate3d(0,0,0);
    -o-transform: rotateY(180deg) translate3d(0,0,0);
    transform: rotateY(180deg) translate3d(0,0,0);
  }
  
  .rotating.flip.up .back {
    -webkit-transform: rotateX(180deg) translate3d(0,0,0);
    -moz-transform: rotateX(180deg) translate3d(0,0,0);
    -ms-transform: rotateX(180deg) translate3d(0,0,0);
    -o-transform: rotateX(180deg) translate3d(0,0,0);
    transform: rotateX(180deg) translate3d(0,0,0);
  }
  
  .rotating.flip.cube .front {
    -webkit-transform: translate3d(0,0,100px) scale(0.9,0.9);
    -moz-transform: translate3d(0,0,100px) scale(0.85,0.85);
    -ms-transform: translate3d(0,0,100px) scale(0.85,0.85);
    -o-transform: translate3d(0,0,100px) scale(0.85,0.85);
    transform: translate3d(0,0,100px) scale(0.85,0.85);
  }
  
  .rotating.flip.cube .back {
    -webkit-transform: rotateY(180deg) translate3d(0,0,100px) scale(0.9,0.9);
    -moz-transform: rotateY(180deg) translate3d(0,0,100px) scale(0.85,0.85);
    -ms-transform: rotateY(180deg) translate3d(0,0,100px) scale(0.85,0.85);
    -o-transform: rotateY(180deg) translate3d(0,0,100px) scale(0.85,0.85);
    transform: rotateY(180deg) translate3d(0,0,100px) scale(0.85,0.85);
  }
  
  .rotating.flip.cube.up .back {
    -webkit-transform: rotateX(180deg) translate3d(0,0,100px) scale(0.9,0.9);
    -moz-transform: rotateX(180deg) translate3d(0,0,100px) scale(0.85,0.85);
    -ms-transform: rotateX(180deg) translate3d(0,0,100px) scale(0.85,0.85);
    -o-transform: rotateX(180deg) translate3d(0,0,100px) scale(0.85,0.85);
    transform: rotateX(180deg) translate3d(0,0,100px) scale(0.85,0.85);
  }